### Git Ignore list

# NPM
**/node_modules

# Ergogen
**/output

# Kicad
**/*_autosave*
**/fp-info-cache
**/*-backups
**/\~*
**/*.zip

# Drill and Gerber files
**/*.gbr
**/*.gbrjob
**/*.drl

# pre-commit hook config
.pre-commit-config.yaml

# Dir env
.direnv

# Nix results
**/result
**/result-*
